@import './../../../styles/settings.scss';

.cart_box {
	border: 1px solid $color-one;
}

.image {
	width: 100px;
	height: 100px;
	object-fit: scale-down;
}

.input_count {
	width: 40px;
	height: 40px;
}

.icon {
	font-size: 35px;
}

.icon:hover {
	color: red;
}

.note {
	border: 1px solid $color-one;
	margin: 15px;
	padding: 5px;
}

@media (max-width: 767px) {
	.product_name {
		display: none;
	}

	.total_price {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.product_name {
		display: none;
	}
}