@import './../../../styles/settings.scss';

.order_box {
	border: 1px solid $color-one;
}

.image {
	width: 100px;
	height: 100px;
	object-fit: scale-down;
}

@media (max-width: 767px) {
	.product_name {
		display: none;
	}

	.note {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.product_name {
		display: none;
	}
}